body{
  max-width: 1200px;
  background-color: rgb(239, 237, 237);
}
header{
  text-align: center;
  font-family: "Kokoro";
}
h1{
  size: 32px;
}
h2{
  size: 24px;
}
.link{
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
}
a:hover{
  color : #ff7043;
}
#mainbg{
  text-align: center;
}
#mainbg img{
  width: 50%;
}

table{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 15%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 12%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}